/BaseModuleAppOldConfig.xcworkspace/xcuserdata/samchung.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
BaseModuleAppOldConfig.xcworkspace/xcuserdata/samchung.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
*.xcbkptlist
Breakpoints_v2.xcbkptlist
.DS_Store
*.xcuserstate
